@charset "UTF-8";
/* main.css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background: #edf0f1;
}

body, input, button{
    font-family: 'Roboto', sans-serif;
}

.nofill{fill:none;}

/* header */
header{
    width:100%;
    height:64px;
    position: fixed;
    top:0;
    left:0;
    z-index: 5;
    background: #fff;
    /* background: #25b99a; /* green background-color 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
} 
/* header_container*/
.header_container{
    display: flex;
    width: 92%;
    margin: auto;
    padding:0px;
} 
/* header_title */
.header_title{
    /* width: 100%;
    align-items: center;
    text-align: center; */
    line-height: 64px;
    letter-spacing: -1px;
}
.header_title h2{
    color:#5d5d5d;
    font-weight: 400;
    text-transform: uppercase;
}
.header_title h2 span{
    font-weight: 700;
}

/* main */
main{
    display: block;
    padding: 80px 0 0 0 ;
    margin: auto;
    max-width: 767px;
}

/* container */
.container{
    width:92%;
    display: block;
    margin: auto;
    padding:0;
}

/* form_section */
.form_section{
    width:92%;
    margin: auto;
    color:#5d5d5d;
    /* background: #fff;
    border-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 1px 2px rgba(44,62,80,0.10); */
    position: relative;
    margin: 14px auto;
    margin-bottom: 14px;
    /* display: flex;
    align-items: center; */
}
/* .form_section label */
.form_section label{
    margin-bottom: 14px;
    
    display: block;
}
/* .header_from - input*/
.form_section input{
    /* flex-basis: 100%;  */
    width: 100%;
    min-height:50px;
    background:#fff;
    border-radius: 5PX;
    /* border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; */
    border:0px;
    box-shadow: none;
    outline: none;
    color:#000;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0;
    margin-bottom: 24px;

    /* -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; */

    /* transition */
	-webkit-transition: all 0.2s ease;
	-moz-animation: all 0.2s ease;
	-o-animation: all 0.2s ease;
	  transition: all 0.2s ease;

}         
.form_section input:hover{
    box-shadow: 0 0px 16px rgba(0,0,0,0.3);
}
/* .header_from input placeholder */
.form_section input::-webkit-input-placeholder{
    color:#5d5d5d;
}
.form_section input:-moz-input-placeholder{
    color:#5d5d5d;
}
.form_section input::-moz-input-placeholder{
    color:#5d5d5d;
}
.form_section input::-ms-input-placeholder{
    color:#5d5d5d;
}

/* .header_from - button*/
.form_section button{    
    display: inline-block;
    padding: 12px 32px;
    margin-right:14px;
    font-size: 15px;
    font-weight: 700;

    color: #f6f6f6; /* font-color */
    background: #25b99a; /* green background-color */
    box-shadow: 0 0px 24px rgba(0,0,0,0.0);
    border-radius: 5px;
    border: 0px;
    outline:none;

    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    /* transition */
	-webkit-transition: all 0.2s ease;
	-moz-animation: all 0.2s ease;
	-o-animation: all 0.2s ease;
	  transition: all 0.2s ease;
}
.form_section button:hover{
    background: #16a085;
    box-shadow: 0 0px 16px rgba(0,0,0,0.3);
}
.form_section button:active{
    background: #16a085;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.form_section button svg{
    width:16px;
    height:16px;
    position: absolute;
    top:50%;
    left:50%;
    margin: -8px 0 0 -8px;
}
.form_section button svg .fill{
    fill: #fff; /* green color */
}

/* schedule list */
.container ul.schedule{
    list-style: none;
    padding: 0px;
    width:100%;
    
    margin: 24px auto;
}
ul.schedule li{
    
    width:100%;
    min-height:50px;
    line-height: 48px;
    
    padding: 0 0px;
    padding-left: 0px;
    
    word-break: break-word;
    /* background: red; */
    background: #fff;
    border-radius: 5px;   
    box-shadow: 0 1px 2px rgba(44,62,80,0.10);
    position: relative;
    margin: 0 auto;
    margin-bottom: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;  
    
    /* transition */
	-webkit-transition: all 0.2s ease;
	-moz-animation: all 0.2s ease;
	-o-animation: all 0.2s ease;
	  transition: all 0.2s ease;
}
ul.schedule li:hover{
    box-shadow: 0 0px 16px rgba(0,0,0,0.3);
}
/* date */
ul.schedule li .dateDiv{
    order:2;
    flex-basis:30%;
    min-height: 48px;
    padding: 4px 0px;
    padding-right: 24px; 
    font-size: 14px;
    font-weight: 500;
    color: purple;
    line-height: 48px;
    text-align: right;
}
ul.schedule li .dateDiv p{
    color:red;
}
ul.schedule li .dateDiv::before{
    display: none;
    content: '';
    width: 1px;
    height:30px;
    position: absolute;
    top:10px;
    right:0;
    /* background:#edf0f1; */
    background:red;
}
/* info */
ul.schedule li .info{
    order:1;
    flex-basis:70%;
    word-break: break-word;
    
    padding: 4px 14px; 
    padding-left:24px;
    min-height: 48px;

    font-size: 14px;
    font-weight: 500;
    /*text-indent: 18px;*/
    color:blue;
    line-height: 48px;
    
    /* background: pink; */
    border-radius: 5px;   

}

ul.schedule li:last-of-type{
    margin: 0;
}
/* when the ul schdeule is empty */ 
ul.schedule#schedule:empty:after {
    content: 'Schedule list is empty!';
    margin: 15px 0 0 0;
    font-size: 15px;
}
  
/* ul.schdule#completed:empty:after {
    content: 'You have yet to complete any tasks.';
} */

ul.schedule#schedule:after {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}





/* list buttons */
ul.schedule li .buttons{
    display: none;
    flex-basis: auto;
    /* min-width:100px;
    width:100px; */
    min-width:50px;
    width:50px;
    height: 50px;
    position: absolute;
    top:0;
    right:0; 
    /* background: pink;   */
}

ul.schedule li .buttons button{
    width:50px;
    height:50px;
    float:left;
    background: none;
    border: 0px;
    box-shadow: none;
    outline: none; 
    position: relative; 
     

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
ul.schedule li .buttons button:last-of-type::before{
    /* display: none; */
    content: '';
    width: 1px;
    height:30px;
    position: absolute;
    top:10px;
    left:0;
    background:#edf0f1;
}
/* trasition for button with class fill */
ul.schedule li .buttons button svg .fill {
    -webkit-transition: fill 0.2s ease;
    -moz-transition: fill 0.2s ease;
    -ms-transition: fill 0.2s ease;
    -o-transition: fill 0.2s ease;
    transition: fill 0.2s ease;
}
ul.schedule li .buttons button svg{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
    cursor: pointer;
    background: none;
    fill: none; /* to remove black fill background from icons svg */
}
ul.schedule li .buttons button svg .fill{
    fill: #c0cecb;
    background: white;
}

/* remove button */
ul.schedule li .buttons button.remove svg .fill {
    /* fill: #c0cecb; */
    fill: #25b99a;
}
ul.schedule li .buttons button.remove:hover svg .fill{
    fill:#e85656;
}
/* ul.schdule li .buttons button.complete svg .fill{
    fill:#25b99a;
} */
/* ul.schdule#completed li .buttons button.complete svg{
    background:#25b99a;
    border:0px;  
} */
/* ul.schedule:not(#completed) li .buttons button.complete:hover svg{
    background: rgba(37,185,154,0.75);
} */
/* ul.schedule:not(#completed) li .buttons button.complete:hover svg .fill{
    fill: #fff;
} */
/* ul.toschduledo#completed li .buttons button.complete svg .fill{
    fill: #fff;
} */