.modal-isa{
    position: absolute;
    z-index: 9;
    top: 35px;
    left: 0;
    width: 100%;
    height: calc(100% - 35px);
    // background-color: pink;

    display: flex;
    align-items: center;
    justify-content: center;

    &-backdrop{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.25);
    }

    &-container{
        position: relative;
        z-index: 2;
        background-color: #fff;
        width: min(1024px, 100% );
        height: 512px;
    }

    &-isi{
        .modal-isa-container{
            background-color: pink;
            // width: min(1306px, 100%) !important;
            width: 100%;
            height: 100%;
        }
    }
}