@use "@/assets/styles/shared/variables" as var;
.wrapper-isa{
    position: relative;
    top: 80px;
    // padding: 2.0rem;
    background-color: #f2f4f7;
    color: #212529;
    border-radius: var(--radius);
    max-width: 1306px;
    // min-height: 768px;
    margin-inline: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px var(--light);
}